<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
		<form action="/per/DeleteByName" method="post">
			<table align="center" width="500px" height="300px" border="1">
				<tr>
					<td align="center" colspan="2">
						欢迎登陆
					</td>
				</tr>
				<tr>
					<td align="center">
						评论ID：
					</td>
					<td align="center">
						<input type="text" name="id" >
					</td>
				</tr>
				<tr>
					<td align="center">
						<input type="submit" name="删除" style="width:100px ;height: 40px"/>
					</td>
				</tr>
			</table>
		</form>
</body>
</html>