<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Welcome</title>
		<style type="text/css">
		#top{
		background-image:url("/img/5.jpg");
		font-weight:bold;
		font-family:Times New Roman;
		font-size:120%;
		padding-top: 1%;
		padding-bottom: 1%;
		}
		#body{
		background-color:#FFEBCD;
		padding-top: 2%;
  		padding-right: 50%;
  		padding-left:30%;
		}
	</style>
</head> 
	<body>
	<div id="top">
	<h1 align="center">Welcome</h1>
	</div>
	<div id="body">
		
			<table align="center" width="500px" height="300px" border="1">
				
				<tr>
					<td align="center" colspan="2">
					<form action="/index" method="post">
						<input type="submit" name="com" value="Com"style="width:100px ;height: 40px"/>
					</form>
					</td>
					<td align="center" colspan="2">
					<form action="QuerySpace.do" method="post">
						<input type="submit" name="per" value="Per"style="width:100px ;height: 40px"/>
					</form>
					</td>
					<td align="center" colspan="2">
					<form action="QuerySpace.do" method="post">
						<input type="submit" name="role"value="Role" style="width:100px ;height: 40px"/>
					</form>
					</td>
					<td align="center" colspan="2">
					<form action="QuerySpace.do" method="post">
						<input type="submit" name="rolePer"value="rolePer" style="width:100px ;height: 40px"/>
					</form>
					</td>
					<td align="center" colspan="2">
					<form action="QuerySpace.do" method="post">
						<input type="submit" name="User"value="User" style="width:100px ;height: 40px"/>
					</form>
					</td>
					<td align="center" colspan="2">
					<form action="QuerySpace.do" method="post">
						<input type="submit" name="viewpoint"value="ViewPoint" style="width:100px ;height: 40px"/>
					</form>
					</td>
					<td align="center" colspan="2">
					<form action="QuerySpace.do" method="post">
						<input type="submit" name="viewspace" value="ViewSpace"style="width:100px ;height: 40px"/>
					</form>
					</td>
				</tr>
			</table>
		</div>
	</body>
</html>