<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.test.dao.ViewPointMapper">
  <resultMap id="BaseResultMap" type="com.example.test.pojo.ViewPoint">
    <id column="point_id" jdbcType="INTEGER" property="point_id" />
    <result column="space_id" jdbcType="INTEGER" property="space_id" />
    <result column="point_name" jdbcType="VARCHAR" property="point_name" />
    <result column="ticket_price" jdbcType="REAL" property="ticket_price" />
    <result column="img_file" jdbcType="VARCHAR" property="img_file" />
    <result column="want_num" jdbcType="INTEGER" property="want_num" />
    <result column="been_num" jdbcType="INTEGER" property="been_num" />
    <result column="notwant_num" jdbcType="INTEGER" property="notwant_num" />
    <result column="description" jdbcType="LONGVARCHAR" property="description" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_view_point
    where point_id = #{point_id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.test.pojo.ViewPoint">
    insert into t_view_point (point_id, space_id, point_name, 
      ticket_price, img_file, want_num, 
      been_num, notwant_num, description
      )
    values (#{point_id,jdbcType=INTEGER}, #{space_id,jdbcType=INTEGER}, #{point_name,jdbcType=VARCHAR}, 
      #{ticket_price,jdbcType=REAL}, #{img_file,jdbcType=VARCHAR}, #{want_num,jdbcType=INTEGER}, 
      #{been_num,jdbcType=INTEGER}, #{notwant_num,jdbcType=INTEGER}, #{description,jdbcType=LONGVARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.example.test.pojo.ViewPoint">
    update t_view_point
    set space_id = #{space_id,jdbcType=INTEGER},
      point_name = #{point_name,jdbcType=VARCHAR},
      ticket_price = #{ticket_price,jdbcType=REAL},
      img_file = #{img_file,jdbcType=VARCHAR},
      want_num = #{want_num,jdbcType=INTEGER},
      been_num = #{been_num,jdbcType=INTEGER},
      notwant_num = #{notwant_num,jdbcType=INTEGER},
      description = #{description,jdbcType=LONGVARCHAR}
    where point_id = #{point_id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select point_id, space_id, point_name, ticket_price, img_file, want_num, been_num, 
    notwant_num, description
    from t_view_point
    where point_id = #{point_id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select point_id, space_id, point_name, ticket_price, img_file, want_num, been_num, 
    notwant_num, description
    from t_view_point
  </select>
</mapper>